@import '../../index.scss';

.Planets-Table {
  margin-top: 1em;
  text-align: center;
  width: 100%;

  th {
    background-color: $cerulean-frost;
    button {
      background-color: transparent;
      color: lighten($gainsboro, 20%);
      border: 0px;
      font-size: 1rem;
      @include devices(tablet) {
        font-size: 0.8rem;
      }
      span {
        margin-left: 10px;
      }
    }
  }
  tr {
    cursor: pointer;
    &:nth-of-type(even) {
      background: $beau-blue;
    }
    &:nth-of-type(odd) {
      background: lighten($gainsboro, 5%);
    }
    &:hover {
      background: $cerulean-frost;
    }
  }
  th,
  td {
    margin: 0.5em 1em;
    padding: 0.5em;
    font-size: 0.9rem;
    @include devices(tablet) {
      font-size: 0.7rem;
    }
  }
}
